* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
    margin: 0;
}

.background-col {
    background-color: lightsalmon;;
}

.flex-container {
    display: flex;
    width:100%;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

#nav {
    background-color: teal;
}

#nav a {
    background-color: teal;
    text-decoration: none;
    color: lightsalmon;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

#run-club {
    padding-top: 16px;
    height: 480px;
}

#run-club-child  {
    background-color: rgba(0.5, 0.5, 0.5, 0.5);
    font-size: 1.8rem;
    color: coral;
    height: 25%;
}

#run-club-child p {
    padding-right: 30px;
    padding-left: 30px;
    text-align: center;
}

#meet-workouts {
    flex-direction: column;
}

#meet-workouts h2, #meet-workouts p {
    padding-left: 20px;
    padding-right: 50px;
    padding-bottom: 30px;
}

.color-yellow {
    color: yellow;
}

.color-white {
    color: white;
}

#gallery1, #gallery2 {
    justify-content: space-around;
}

.workout-img {
    width: 30%;
    height: auto;
    margin-bottom: 30px;
}

#build-my-weeknight {
    padding-top: 50px;
    padding-bottom: 50px;
}

#build-my-wn-child {
    flex-direction: column;
    padding-left: 30px;
    padding-top: 75px;
    padding-bottom: 75px;
    align-items: space-around;
    background-color: teal;
}

#join-us {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#join-us h1 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

#join-us img {
    width: 40%;
}

#build-my-wn-child h1, #build-my-wn-child h3 {
    padding-bottom: 50px;
}   

@media only screen and (max-width: 640px) {
    #nav {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
}

@media only screen and (max-width: 1048px) {
    .workout-img {
        width: 100%;
    }

    #gallery1, #gallery2 {
        flex-wrap: wrap;
    }
    
}


